<h1>Home</h1>

<p> <%= link_to 'Agendamentos', '' %> </p>
<p> <%= link_to 'Atendimentos', '' %> </p>
<div id="agendamentos">
  <% # render '' %>
</div>
<div id="atendimentos">
  <% # render '' %>
</div>
